export(NCT)
S3method(print,NCT)
S3method(summary,NCT)
S3method(plot,NCT)

import(qgraph)
import(IsingFit)
import(IsingSampler)
import(reshape2)
import(foreach)
importFrom("graphics", "hist", "points")
importFrom("stats", "cor", "p.adjust")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("Matrix", "nearPD")
importFrom("reshape2","melt")
importFrom("stats", "na.omit")


importFrom("methods", "is")